*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Slab', serif;
}

.menu
{
  display: flex;
}
.menu-nav
{
    height: 23px;
    list-style: none;
    
    
}
.menu-nav-link
{
    
   height: 23px;
    padding-right: 30px;
    text-decoration: none;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    
}
.menu-logo
{
    padding: 0;
    margin-top: 40px;
    margin-left: 230px;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    height: 23px;
    width: 91px;
    
    
}
.header
{
    margin-left: 120;
    color: white;
    
}
.nav
{
    width: 555px;
    margin-left: 490px;
    height: 23px;
    margin-top: 40px;
}
.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.wrapper
{
background-image: url(img/header-bg.png);
background-repeat: no-repeat;
width: 1600px;
height: 770px;
margin-bottom: 0;
}

.menu-nav-link:hover{
    background: darkgrey;
}
.welcome{
    margin-top: 250px;
    width: 1600;
    align-items: center;
}

.get-start {
    border: 1px;
    border-style: solid; 
    color: white;
    text-align: center;
    border-color: white;
    width: 175px;
    height: 50px;
    align-items: center;
    box-sizing: border-box;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 705px;
    margin-top: 55px;
    padding-top: 15px;
}

.about__us-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__us-title h2:after {
    content: "";
	position: absolute;
	margin: 40px 0 0 -20px;
	left: 50%;
	width: 50px;
	height: 2px;
	background-color: #555;
}

.about_us-wrapper {
    background: #e3e3e3;
    width: 1600px;
    margin-bottom: 20px;
    height: 852px;
    position: relative;
}

.about__us-title {
    font-family: Montserrat;
color:  #555555;
font-size: 20px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}

.about__us-main {
    margin-top: 80px;
    padding-top: 0;
    display:flex;
    margin-left: 230px;
    margin-right: 230px;
    box-sizing: border-box;
}

.about__us-main-cont {
    width: 100%;
    margin: 15px;
}

.about__us-slider {
    margin: auto;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 1140px;
    
}

.member {
    width: 263px;
    margin: auto;
    
    justify-content: space-between;
}
.member:before{
    width: 263px;
    height: 250px;
    position: absolute;
    content: "";
    opacity: 0;
    background: #f25f5f;
}
.member:hover:before{
    background: rgba(242, 95, 95, 0.42);
    opacity: 1;
}

.member-dop {
    box-sizing: border-box;
    position: absolute;
    width: 263px;
    height: 250px;
    padding-top: 180;
    padding-left: 40;
    padding-right: 40;
    justify-content: space-between;
    display: none;
    flex-direction: row;
    color: white;
}
.member:hover .member-dop {
    display: flex;
}
.menu-nav-li {
    align-content: center;
    align-items: center;
    text-align: center;
}

.welcome-logo {
font-family: Montserrat;
color:  #ffffff;
font-size: 48px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
width: 580px;
margin-left: 508px;
padding-left: 0px;
height: 48px;
margin-bottom: 33px;
}

.welcome-add {
font-family: RobotoSlab;
color:  #ffffff;
font-size: 20px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
width: 580px;
margin-left: 610px;
text-transform: none;
    height: 20px;
    
}



.get-in {
    height: 369px;
    background-image: url(img/Paralax%20section.png);
    position: relative;
}

.get-in__header {
    position: absolute;
    width: 454px;
    height: 68px;
    margin-left: 573px;
    margin-top:100;
    font-family: RobotoSlab;
    color:  #ffffff;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-transform: none;
    text-align: center;
}

.get-in__button {
    width: 175px;
    height: 50px;
    position: absolute;
    margin-top: 222px;
    margin-left: 710px;
    border: 1px solid white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    font-family: RobotoSlab;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
}

.about__us-slider-text {
    width: 1140px;
    display: flex;
    margin-top: 24px;
    margin: auto;
}

.text {
    display: block;
    width: 263px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.heading-us {
    padding-top: 100px;
}
