*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Slab', serif;
}

.menu
{
  display: flex;
}
.menu-nav
{
    height: 23px;
    list-style: none;
    
    
}
.menu-nav-link
{
    
   height: 23px;
    padding-right: 30px;
    text-decoration: none;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    
}
.menu-logo
{
    padding: 0;
    margin-top: 40px;
    margin-left: 230px;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    height: 23px;
    width: 91px;
    
    
}
.header
{
    margin-left: 120;
    color: white;
    
}
.nav
{
    width: 555px;
    margin-left: 490px;
    height: 23px;
    margin-top: 40px;
}
.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.wrapper
{
background-image: url(img/header-bg.png);
background-repeat: no-repeat;
width: 1600px;
height: 770px;
margin-bottom: 0;
}

.menu-nav-link:hover{
    background: darkgrey;
}
.welcome{
    margin-top: 250px;
    width: 1600;
    align-items: center;
}

.get-start {
    border: 1px;
    border-style: solid; 
    color: white;
    text-align: center;
    border-color: white;
    width: 175px;
    height: 50px;
    align-items: center;
    box-sizing: border-box;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 705px;
    margin-top: 55px;
    padding-top: 15px;
}

.about__us-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__us-title h2:after {
    content: "";
	position: absolute;
	margin: 40px 0 0 -20px;
	left: 50%;
	width: 50px;
	height: 2px;
	background-color: #555;
}

.about_us-wrapper {
    background: #f8f8f8;
    width: 1600px;
    margin-bottom: 20px;
    height: 852px;
    position: relative;
}

.about__us-title {
    font-family: Montserrat;
color:  #555555;
font-size: 20px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}

.about__us-main {
    margin-top: 80px;
    padding-top: 0;
    display:flex;
    margin-left: 230px;
    margin-right: 230px;
    box-sizing: border-box;
}

.about__us-main-cont {
    width: 100%;
    margin: 15px;
}

.about__us-slider {
    margin: auto;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 1140px;
    
}

.member {
    width: 263px;
    margin: auto;
    
    justify-content: space-between;
}
.member:before{
    width: 263px;
    height: 250px;
    position: absolute;
    content: "";
    opacity: 0;
    background: #f25f5f;
}
.member:hover:before{
    background: rgba(242, 95, 95, 0.42);
    opacity: 1;
}

.member-dop {
    box-sizing: border-box;
    position: absolute;
    width: 263px;
    height: 250px;
    padding-top: 180;
    padding-left: 40;
    padding-right: 40;
    justify-content: space-between;
    display: none;
    flex-direction: row;
    color: white;
}
.member:hover .member-dop {
    display: flex;
}
.menu-nav-li {
    align-content: center;
    align-items: center;
    text-align: center;
}

.welcome-logo {
font-family: Montserrat;
color:  #ffffff;
font-size: 48px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
width: 580px;
margin-left: 508px;
padding-left: 0px;
height: 48px;
margin-bottom: 33px;
}

.welcome-add {
font-family: RobotoSlab;
color:  #ffffff;
font-size: 20px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
width: 580px;
margin-left: 610px;
text-transform: none;
    height: 20px;
    
}



.get-in {
    height: 369px;
    background-image: url(img/Paralax%20section.png);
    position: relative;
    
}

.get-in__header {
    position: absolute;
    width: 454px;
    height: 68px;
    margin-left: 573px;
    margin-top:100;
    font-family: RobotoSlab;
    color:  #ffffff;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-transform: none;
    text-align: center;
}

.get-in__button {
    width: 175px;
    height: 50px;
    position: absolute;
    margin-top: 222px;
    margin-left: 710px;
    border: 1px solid white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    font-family: RobotoSlab;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
}

.about__us-slider-text {
    width: 1140px;
    display: flex;
    margin-top: 24px;
    margin: auto;
}

.text {
    display: block;
    width: 263px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.heading-us {
    padding-top: 100px;
}

.recent-blog-post__article {
    width: 640px;
    display: flex;    
    height: 322px;
}

.recent-blog-post__picture {
    width: 460px;
    height: 322px;
    margin-right: 40px;
}

.recent-blog-post {
    display: flex;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 75px;
}

.date {
    width: 76px;
    height: 76px;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    font-family: Montserrat;
    color:  #777777;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    padding-top: 10px;
    box-sizing: border-box;
    margin-right: 30px;
    display: inline-block;
}

.recent-blog-post__article__heading {
    font-family: Montserrat;
    color:  #c0301c;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    position: absolute;
    margin-top: 15px;
    margin-left: 105px;
    text-transform: none;
}

.recent-blog-post__article__author {
    width: 199px;
    font-family: RobotoSlab;
    color:  #777777;
    font-size: 13px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    margin-top: 45px;
    margin-left: 105px;
    position: absolute;
}

.red {
    color: red;
}

.recent-blog-post__article__text {
    margin-top: 100px;
    font-family: RobotoSlab;
    color:  #555555;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    position: absolute;
    width: 640px;
    height: 110px;
    letter-spacing: 1px;
    line-height: 20px;
}

.read-more {  
    font-family: RobotoSlab;
    color:  #c0301c;
    font-size: 13px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;  
    width: 88px;
    height: 20px;
    position: absolute;
    margin-top: 240px;
}

.underline {
    margin-left: 230px; 
    width: 1140px;
    border: none;
    height: 1px;
    color: lightgrey;
    background: lightgrey;
    margin-top: 40px;
    margin-bottom: -35px;
}



.labels__logo {
    margin: auto;
    margin-bottom: 75px;
    width: 900px;
    height: 50px;
    padding-top: 100px;
}

.labels {
    background-color:  #f8f8f8;
    width: 1600px;
    height: 477px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.label__text {
    font-family: RobotoSlab;
    color:  #555555;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    width: 763px;
    height: 109px;
    margin: auto;
}

.John {
    font-family: RobotoSlab;
    color:  #555555;
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    width: 220px;
    margin: auto;
}

.label__logo-img {
    padding-top: 100px;
}

.labels__rounds {
    width: 60px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.round-red {
    width: 15px;
    border-radius: 50%;
    background: red;
    height: 15px;
}

.round {
    
    width: 15px;
    border-radius: 50%;
    background: grey;
    height: 15px;
}

.get-in-touch__describe {
    width: 390px;
    height: 400px;  
}

.get-in-touch__input {
    width: 740px;
    height: 400px;
}

.get-in-touch {
        display: flex;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 75px;
    margin-bottom: -50px;
}

.touch {
    margin-top: 50px;
    border: 1px solid black;
    height: 660px;
    width: 1140px;
    background: red;
}







.get-in_icon {
    width: 15px;
    height: 75px;
    float: left;
    margin-top: 10px;
}

.get-in_head-adress {
    width: 380px;
    text-align: left;
    font-family: Montserrat;
color: #555555;
font-size: 14px; /* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 30px; /* Приближение из-за подстановки шрифтов */
    margin-left: 27px;
    margin-top: 15px;
    text-transform: uppercase;
    
}

.get-in_adress {
    width: 205px;
    font-family: RobotoSlab;
color: #555555;
font-size: 12px; /* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 20px; /* Приближение из-за подстановки шрифтов */
text-align: left;
    margin-left: 27px;
}

.icon2 {
    margin-top: 20px;
}

.typetext {
    width: 350px;
    height: 45px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.e-mail {
        width: 350px;
    height: 45px;
}

.subject {
        width: 350px;
    height: 45px;
    margin-right: 30px;
}

.company_name {
        width: 350px;
    height: 45px;
}

.comment {
        width: 730px;
    height: 105px;
    margin-top: 30px;
}

.button_comment {
    width: 170px;
    height: 45px;
    margin-top: 30px;
}

.label-send {
    margin-top: -30px;
}

.round-tw {
    border-radius: 50%;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    width: 31px;
    height: 31px;
    color: white;
    box-sizing: border-box;
    padding-top: 5px;
    float: left;
    margin-left: 10px;
    margin-top: 100px;
}

.heading-tw {
    width: 200px;
    text-align: center;
        margin-top: 100px;
    margin-left: 685px;
}

.footer-describe {
    font-family: RobotoSlab;
color: #ffffff;
font-size: 12px; /* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 20px; /* Приближение из-за подстановки шрифтов */
text-align: left;
    position: absolute;
    margin-top: 200px;
    margin-left: 666px;
}

.footer-hr {
    margin-left: 745px; 
    width: 50px;
    border: none;
    height: 2px;
    color: white;
    background: white;
    margin-top: 166px; 
    position: absolute;
}
